<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- reponsive meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= lang.homePage.contactUs %></title>
    <!-- Bootstrap-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- animate css-->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- owl-carousel-->
    <link rel="stylesheet" href="/vendors/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="/vendors/revolution/css/settings.css">
    <link rel="stylesheet" href="/vendors/revolution/css/layers.css">
    <link rel="stylesheet" href="/vendors/revolution/css/navigation.css">
    <link rel="stylesheet" href="/vendors/jquery-ui-1.11.4/jquery-ui.min.css">
    <!-- Main Css-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://kit.fontawesome.com/4163cc19b6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header id="header">
      <!-- Logo Section-->
      <div class="container">
        <div class="row pad-logo logo-wrapper">
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 t-logo"><a href="/<%= lang.currentLang %>"><img src="/assets/logo.png" alt="logo" class="img-responsive"></a></div>
          <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 text-right">
            <div class="top-two-right">
              <div class="top-panel">
                <div class="touch_top touch_top_pad">
                  <ul class="nav">
                    <li class="item item-phone">
                      <div class="media">
                        <div class="blue-color media-left"><a href="#"><i class="icon icon-Phone2"></i></a></div>
                        <div class="media-body">
                          <p> <%= lang.contactPage.phone %> 
                            <br>
                            <span>
                              <a href="mailto:<%= lang.contactPage.alsanaEmail %>"><%= lang.contactPage.alsanaEmail %></a>
                            </span>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="item item-ad">
                      <div class="media">
                        <div class="blue-color media-left"><a href="#"><i class="icon icon-Pointer"></i></a></div>
                        <div class="media-body">
                          <p> <%= lang.contactPage.address %> <br><span><%= lang.contactPage.city %></span></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Navigation-->
      <div class="main_menu menu_fixed nav-home-three">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
              <div class="logo"><img src="/assets/logo.png" alt=""></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="nav-menu pull-left text-left">
                <div class="nav-t-holder pull-left text-left">
                  <div class="nav-t-header">
                    <button><i class="fa fa-bars"></i></button>
                  </div>
                  <div class="nav-t-footer">
                    <ul class="nav">
                      <li><a href="/<%= lang.currentLang %>"><%= lang.homePage.home %></a></li>
                      <li><a href="/contact/<%= lang.currentLang %> "><%= lang.homePage.contactUs %></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Navigation-->
    </header>
    <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2><%= lang.homePage.contactUs %></h2>
      </div>
    </section>
    <!-- Contact us Page-->
    <section class="core-projects touch">
      <div class="sectpad touch_bg">
        <div class="container clearfix">
          <h1><%= lang.contactPage.contactForm %> </h1>
          <div class="row touch_middle">
            <div class="col-md-4 open_hours">
              <div class="touch_top-con">
                <ul class="nav">
                  <li class="item">
                    <div class="media">
                      <div class="media-left"><a href="#"><i class="fa fa-map-marker"></i></a></div>
                      <div class="media-body" style="padding-top: 10px;"><%= lang.contactPage.address %> </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="media">
                      <div class="media-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
                      <div class="media-body" style="padding-top: 10px;"><a href="mailto:<%= lang.contactPage.alsanaEmail %>"><%= lang.contactPage.alsanaEmail %></a></div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="media">
                      <div class="media-left"><a href="#"><i class="fa fa-phone"></i></a></div>
                      <div class="media-body" style="padding-top: 10px;"> <%= lang.contactPage.phone %></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8 input_form">
              <form id="contactForm" action="http://galaxyanalytics.net/demos/industrial/contact_process.php" method="post">
                <input id="name" type="text" name="name" placeholder="<%= lang.contactPage.name %>" class="form-control">
                <input id="email" type="email" name="email" placeholder="<%= lang.contactPage.email %>" class="form-control">
                <input id="subject" type="text" name="subject" placeholder="<%= lang.contactPage.subject %>" class="form-control">
                <textarea id="message" rows="6" name="message" placeholder="<%= lang.contactPage.message %>" class="form-control"></textarea>
                <div class="row m0">
                  <button type="submit" class="btn btn-default submit"><%= lang.contactPage.submit %> </button>
                </div>
              </form>
              <div id="success">
                <p><%= lang.contactPage.successMessage %></p>
              </div>
              <div id="error">
                <p><%= lang.contactPage.errorMessage %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Indurial Solution-->
    <footer class="sec-padding footer-bg footer-bg3">
      <div class="container clearfix">
        <div class="row">
          <div class="widget about-us-widget col-md-4 col-sm-6"><a href="/<%= lang.currentLang %> "><img src="/assets/logo.png" alt=""></a>
          </div>
          <div class="widget widget-links col-md-4 col-sm-6">
            <h4 class="widget_title"><%= lang.homePage.quickLinks %> </h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><a href="/<%= lang.currentLang %>">- <%= lang.homePage.home %></a></li>
                <li><a href="/contact/<%= lang.currentLang %>">- <%= lang.homePage.contactUs %></a></li>
                <li><a href="https://www.facebook.com/assanea" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-contact col-md-4 col-sm-6">
            <h4 class="widget_title"><%= lang.homePage.getInTouch %></h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><i class="fas fa-map-marker"></i>
                  <div class="fleft location_address" style="padding-top: 21px;"> <%= lang.contactPage.address %> - <%= lang.contactPage.city %></br> </br></div>
                </li>
                <li><i class="fas fa-phone"></i>
                  <div class="fleft contact_no"><a href="#"></a><%= lang.contactPage.phone %></div>
                </li>
                <li><i style="margin-top: 15px;" class="fas fa-envelope"></i>
                  <div class="fleft contact_mail"><a href="mailto:<%= lang.contactPage.alsanaEmail %>"><%= lang.contactPage.alsanaEmail %></a></div>
                </li>
                <li><i class="icon icon-Timer"></i>
                  <div class="fleft service_time" style="padding-top: 21px;"><%= lang.contactPage.worksTime %></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/jquery-1.12.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Revolution Slider Tools-->
    <script src="/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Revolution Slider-->
    <script type="text/javascript" src="/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/contact.js"></script>
    <!-- owl carousel-->
    <script src="/vendors/owlcarousel/owl.carousel.min.js"></script>
    <script src="/vendors/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTI1BZJKFCeJ8g9O01CMZ4QvVCfdPYkrE"></script>
    <script src="/js/gmaps.min.js"></script>
    <script src="/js/theme.js"></script>
  </body>

</html>